<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.hlidskialf.android.filer.beta"
      android:versionCode="10003"
      android:versionName="1.0.3">
    <application android:label="@string/app_name" android:icon="@drawable/filer">
        <activity android:name="com.hlidskialf.android.filer.FilerActivity" 
          android:launchMode="singleInstance"
          android:label="@string/app_name" 
          android:icon="@drawable/filer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.RUN" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file" android:mimeType="text/directory" />
            </intent-filter>
        </activity>

        <activity android:name="com.hlidskialf.android.filer.FilerActivity" 
          android:label="@string/app_name" 
          android:icon="@drawable/filer">
            <intent-filter>
              <action android:name="android.intent.action.CREATE_SHORTCUT" />
              <category android:name="android.intent.category.DEFAULT" />
            </intent-filter> 
        </activity>

        <activity android:name="com.hlidskialf.android.filer.FilerPreferencesActivity" />

        <provider android:name="com.hlidskialf.android.filer.MimeProvider" 
                  android:authorities="com.hlidskialf.android.filer.beta"/>

    </application>

</manifest> 
